:root {
  --primary-color-light: #C9D6DF;
  --secondary-color-light: #52616B;
  --background-color-light: #F0F5F9;
  --text-color-light: #1E2022;
  --content-color-light:#d5e8eb ;

  --primary-color-dark: #52616B;
  --secondary-color-dark: #C9D6DF;
  --background-color-dark: #1E2022;
  --text-color-dark: #F0F5F9;
  --content-color-dark:#5c6c6e ;

  /* Default values for light mode */
  --primary-color: var(--primary-color-light);
  --secondary-color: var(--secondary-color-light);
  --background-color: var(--background-color-light);
  --text-color: var(--text-color-light);
  --content-color: var(--content-color-light)

  /* Dark mode condition */
  @media (prefers-color-scheme: dark) {
    --primary-color: var(--primary-color-dark);
    --secondary-color: var(--secondary-color-dark);
    --background-color: var(--background-color-dark);
    --text-color: var(--text-color-dark);
    --content-color: var(--content-color-dark)
  }
}
/* For WebKit browsers (Chrome, Safari, Edge) */
::-webkit-scrollbar {
  width: 12px; /* Width of the entire scrollbar */
}

::-webkit-scrollbar-thumb {
  background: linear-gradient(45deg, #a5bbe488, #4174d3); /* Thumb (scroll indicator) */
  border-radius: 10px; /* Rounded corners for the scrollbar thumb */
}

::-webkit-scrollbar-thumb:hover {
  background: #555; /* Thumb color when hovered */
}

::-webkit-scrollbar-track {
  background: #f1f1f1; /* The background (track) of the scrollbar */
  border-radius: 10px;
}


body {
  /* background-color: var(--background-color); */
  /* color: var(--text-color); */
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  scrollbar-width: thin; /* Can be "auto" or "thin" */
  scrollbar-color: #ff0000 #f1f1f1; /* First color is the thumb, second is the track */
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.side-menu{
  background-color: var(--primary-color);
  color: var(--text-color);
}

.sider-container{
  background-color: var(--background-color);
  color: var(--text-color);
}

.logo img{
  width:100%;
  height: 100%;
}

.logo{
  height: 65px;
  width: 150px;
  background-color: #807876;
  position: absolute;
  left: 0;
}

.head-menu-container{
  background-color: var(--primary-color);
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.head-menu{
  background-color: var(--primary-color);
  color: var(--text-color);
  display: flex;
  justify-content: flex-end;
  position: absolute;
  right:0;
  min-width: 100px;
}

.content{
  /* padding: 12px; */
  margin: 0;
  height: auto;
  border-radius: 12px;
  overflow: auto;
}

.sub-content{
  padding: 9px;
}

.footer{
  text-align: center;
  border-radius: 12px;
  margin-bottom: 0;
  margin-top: 10px;
}

.main-layout{
  height: 100vh;
}

.holistic-header{

}
.H-content{
  margin-top: 15px;
  background-color: transparent;
}
.sys-news{
  margin: 50px;
  max-width: 1000px;
}

.news-2{
  max-width: 600px;
}

.no-content{
  margin-top: 10%;
}
.new-preview{
  /* min-width: 100%; */
  max-width: 600px;
  min-width: 360;
  margin: 10px;
}

.welcome-text{
  max-width: 650px;
}
.welcome-logo{
  max-width: 250px;
  min-width: 100px;
}